body{
    margin:0;
    padding:0;
  }
  canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    opacity: 0.1;
  }

 body.centerImg{
    background: url('../images/SOCI3TY36trans4.png') no-repeat center fixed;
    background-size: 56%;
    background-color: lightgrey; 
    opacity: 1;
  }

  .center {
    margin: auto;
    margin-top: 12%;
    width: 50%;
    padding: 10px;
  }

form {
    height: 10em;
    position: relative;
    margin: 0;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }